.sidebarItem{
    /*background:red;*/
    width: 100%;
    height:2.5rem;
    margin-top: 0.3rem;



    display: flex;
    align-items: center;
    justify-content:flex-end;


}

.link {
    width: 75%;
    background-color: #6c757d;

    height: 100%;
    font-size: 1.2rem;
    padding-left: 1rem;

    text-decoration: none;

    display: flex;
    align-items: center;

    border-radius: .3rem;

    color: white;

}

.link:hover{

    width: 87%;
    text-decoration: none;
    font-weight: bolder;

}
.active{
    width: 100%;
    text-decoration: none;
    font-weight: bolder;

    border:2px solid black;
}




