.info{
    background-color: aquamarine;

    margin-bottom:1.3rem;

    display: flex;
    flex-direction: column;
}
.items{

    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}
.itemtop{

    margin-top: 1rem;
    margin-bottom: 0.1rem;
}
.itembuttom{

    margin-bottom: 1.3rem;
    margin-top: 0.1rem;
}
.itemText{
    position: absolute;
    left: 6rem;
}
.IntroducText{
    margin-left: 1rem;
}
.buttons{
    /*background-color: red;*/

    display: flex;
    justify-content: center;
}
.info button{
    width: 5rem;
    margin-left:1rem;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
}

.info input{
    width: 15rem;
    position: absolute;
    left: 6rem;

}
